---
---

@import 'base/reset';
@import 'vendor/grid';
@import 'vendor/breakpoint/breakpoint';
@import 'vendor/font-awesome';
@import 'abstracts/variables';
@import 'base/layout';
@import 'layout/header';
@import 'pages/homepage';
@import 'layout/footer';
@import 'pages/project-pages';


@font-face {
  font-family: 'icomoon';
  src:url('/fonts/icomoon.eot?gkq5ew');
  src:url('/fonts/icomoon.eot?#iefixgkq5ew') format('embedded-opentype'),
    url('/fonts/icomoon.woff?gkq5ew') format('woff'),
    url('/fonts/icomoon.ttf?gkq5ew') format('truetype'),
    url('/fonts/icomoon.svg?gkq5ew#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}



/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


@include breakpoint($mq-medium) {
  .grid-container {
    padding-left: 0;
    padding-right: 0;
  }

  .project-nav {
    li {
      font-size: 1.25em;
      &:not(:first-child) {padding-left: 0px};
      display: block;
      margin-bottom: 10px;
    }
    span {
    padding: 1px 2px;
    &:hover {
      background-color: #eee;

      .touch & {
        background-color: $white;
      }
    }
    &.active-project {
      background-color: $orange;
      color: $white;
      &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $orange;
      position: absolute;
      left: 40%;
      }
    }
  }
  }
  .scroll {
  max-height: 185px;
  overflow: scroll;
  img {
    max-width: 100%;
  }
}
}

@include breakpoint($mq-small) {
.project-nav {
    li {
      font-size: 1.25em;
      &:not(:first-child) {padding-left: 0px};
      &:not(:last-child) {padding-bottom: 5px};
      display: block;
      margin-bottom: 10px;
    }
    span {
    padding: 1px 2px;
    &:hover {
      background-color: #eee;

      .touch & {
        background-color: $white;
      }
    }
    &.active-project {
      background-color: $orange;
      color: $white;

      .touch & {
        background-color: $orange;
        color: $white;
      }
      &:after {
      content: "";
      display: none;
      }
    }
  }
  }
}
