<header id="header">
  <div class="grid-container">
    <div class="logo">
      {% if page.layout == "default" %}
        <a href="#hero">Marie Hooper</a>
      {% else %}
        <a href="/">Marie Hooper</a>
      {% endif %}
    </div>
    <nav class="navigation">
      <ul>
        {% if page.layout == "projects" %}
          <li><a href='/projects/{{ page.previous_url }}'>Previous <span>Project</span></a></li>
          <li><a href='/projects/{{ page.next_url }}'>Next <span>Project</span></a></li>
        {% else %}
          <li><a class="nav-projects" href='#projects'>Projects</a></li>
          <li><a class="nav-about" href='#about'>About</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
