<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700|Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css"> 
  </head>
    <body>
      <div id="wrapper">
        <header id="header">
           <div class="grid-container">
            <div class="logo grid-20 mobile-grid-100"><a href="{{site.url}}">&lt;MH&gt;</a></div>
            <nav class="navigation grid-80 mobile-grid-100">
              <ul>
                <li><a href='{{ site.url }}/projects/{{ page.previous }}'>PREVIOUS PROJECT</a></li>
                <li><a href='{{ site.url }}/projects/{{ page.next }}'>NEXT PROJECT</a></li>
              </ul>
            </nav>
          </div>
        </header>
      