<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700|Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css"> 
  </head>
    <body>
     <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TRXXCV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TRXXCV');</script>
<!-- End Google Tag Manager -->
      <div id="wrapper">
        <header id="header">
           <div class="grid-container">
            <div class="logo grid-20 mobile-grid-100"><a href="#hero">&lt;MH&gt;</a></div>
            <nav class="navigation grid-80 mobile-grid-100">
              <ul>
                <li><a class="nav-projects" href='#projects'>PROJECTS</a></li>
                <li><a class="nav-about" href='#about'>ABOUT</a></li>
                <li><a class="nav-contact" href='#contact'>CONTACT</a></li>
              </ul>
            </nav>
          </div>
        </header>
      