<header id="header">
  <div class="grid-container">
    <div class="logo">
      {% if page.layout == "home" %}
        <a href="#hero">Marie Hooper</a>
      {% elsif page.layout == "projects" or page.layout == "default" %}
        <a href="{{site.url}}">Marie Hooper</a>
      {% endif %}
    </div>
    <nav class="navigation">
      <ul>
        {% if page.layout == "home" %}
          <li><a class="nav-projects" href='#projects'>Projects</a></li>
          <li><a class="nav-about" href='#about'>About</a></li>
        {% elsif page.layout == "projects" or page.layout == "default" %}
          <li><a href='{{ site.url }}/projects/{{ page.previous_url }}'>Previous <span>Project</span></a></li>
          <li><a href='{{ site.url }}/projects/{{ page.next_url }}'>Next <span>Project</span></a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
