.about {
  p {
    font-size: 1.1em;
    margin-bottom: 1em;
    line-height: 1.6em;
  }
  a {
    border-bottom: 1px dotted;
    &:hover,
    &:focus {
      border-bottom: 1px solid;
    }
  }
}

.sectionHeader {
  margin-bottom: 1rem;
  padding-top: 1.5rem;
  text-align: center;

  @media (max-width: 48rem) {
    margin-bottom: 25px;
  }
}

.wrapper {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}
