@import "variables";

.footer {
  text-align: center;
  line-height: 1.5em;
  margin-top: 50px;
  p {
    padding-bottom: 1em;
  }
}

.heart {
  fill: currentColor;
  width: 1rem;
  height: 1rem;
}

.social {
  font-size: 1em;
  padding-bottom: 20px;
  li {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.icon {
  fill: $color-default-text;
  width: 20px;
  height: 20px;
  transition: all 0.5s ease;
  &:hover {
    fill: $color-accent;
  }
}
