@import "variables";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  color: $color-default-text;
  background-color: $color-body;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-accent;
}

h1,
h2 {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

ul {
  padding-left: 0;
  margin: 0;
  li {
    list-style-type: none;
  }
}

main {
  padding-top: 3.5rem;
}

section {
  padding: 2rem 1rem 1rem 1rem;
  max-width: 960px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    margin-bottom: 2.5rem;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    &:after {
      content: "";
      display: block;
      height: 1px;
      width: 300px;
      background-color: rgb(48, 60, 85);
      position: relative;
      top: 2px;
      margin-left: 20px;
    }
  }
}
