@import "variables";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  color: $color-text-gray;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  margin: 0;

  @media (max-width: 48rem) {
    font-size: 90%;
  }
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-accent-blue;
}

h1,
h2 {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 2em;
  color: var(--color-header-gray);
}

h2 {
  font-size: 2em;
  margin-bottom: 15px;
  position: relative;
  @media (max-width: 41.75rem) {
    font-size: 1.75em;
  }
}

ul {
  padding-left: 0;
  margin: 0;
  li {
    list-style-type: none;
  }
}

main {
  padding-top: 3.125rem;
  flex: 1;
}

section {
  margin-top: 2.5em;
  @media (max-width: 41.75rem) {
    margin-top: 2em;
    padding: 0 1em;
  }
}
