.header {
  color: var(--color-blue);
  position: fixed;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #eee;
  font-size: 1.2em;
  background: var(--color-white);
  a {
    color: var(--color-blue);
  }
}

.gridContainer {
  background-color: var(--color-white);
  padding: 0 0.5em 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.2rem;
  padding: 1rem 0;
}

.navigation {
  li {
    display: inline-block;
    &:last-child {
      margin-right: 0;
    }
    a {
      font-size: 1rem;
      padding: 1em 0.5em;
      border-bottom: 2px solid transparent;
      &:hover,
      &.active {
        border-bottom: 2px solid var(--color-blue);
      }
    }
    span {
      @media (max-width: 41.75rem) {
        display: none;
      }
    }
  }
}
