@import "variables";

.description {
  h1 {
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: 1;
  }
  .subheading {
    font-size: 3.5rem;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    opacity: 0.75;
  }
  .bio {
    font-size: 1.25rem;
    width: 60%;
    margin-top: 2rem;
    line-height: 1.5;
    font-weight: normal;
  }
  span {
    font-size: 1rem;
    display: block;
    color: $color-accent;
  }
}
