@import "variables";

.wrap {
  width: 100%;
}

.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
  grid-auto-flow: row;
}

.block {
  padding-top: 100%; /* padding trick directly on the grid item */
  box-sizing: border-box;
  position: relative;
  color: $color-body;
  background: linear-gradient(
    $color-default-text,
    darken($color-default-text, 10%)
  );
  border-radius: 2px;
  opacity: 0.9;
  transition: all 0.5s ease;
  @media (max-width: 41.75rem) {
    margin: 0.5em 0;
    max-width: inherit;
  }
  &:hover {
    opacity: 1;
    transform: translateY(-0.5rem);
  }
  .content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  ul {
    font-size: 0.75rem;
  }
  li {
    display: inline-block;
    margin-right: 0.5rem;
  }
  a {
    display: inline-block;
    margin-right: 0.5rem;
    color: $color-body;
  }
}

.icon {
  fill: $color-body;
  width: 1.75rem;
  vertical-align: middle;
  margin-right: 0.25rem;
}
