/* ==========================================================================
   HOME PAGE SECTIONS
   ========================================================================== */

.section-header {
  padding-top: 2.75em;
  margin-bottom: 1.5em;
  text-align: center;

  @include breakpoint($mq-medium) {
    margin-bottom: 25px;
  }
}
.section {
  margin-top: 2.5em;
  @include breakpoint($mq-small) {
    margin-top: 2em;
  }
}

h2  {
  margin-bottom: 15px;
  font-size: 2em;
  position: relative;
  @include breakpoint($mq-small) {
    font-size: 1.75em;
  }
}

h3  {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.25em;
}

.project-description {
  padding: 0;
}

.project-block h2 {
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

/* ==========================================================================
  ABOUT
  ========================================================================== */

.about {
  p {
    font-size: 1.1em;
    margin-bottom: 1em;
    line-height: 1.6em;
  }
}


/* ==========================================================================
  PROJECT SECTION
  ========================================================================== */
.project-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}


.project-block {
  opacity: 0.8;
  margin: 0.5em;
  max-width: 360px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 360px;
  flex: 1 1 360px;
  @include breakpoint($mq-small) {
    margin: 0.5em 0;
    max-width: inherit;
  }
  &:hover{
    opacity: 1;
  }

  a {
    display: block;
    padding-bottom: 100%;
    position: relative;
    &:hover > .on-hover {
      visibility: visible;
    }
  }
}

.on-hover {
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  font-size: 1.2em;
  line-height: 1.2em;
  right: 0px;
  padding: 1em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  color: #3e3e3e;
  width: 100%;
}

.center-align {
  text-align: center;
}

.projects-gradecraft-site-redesign {
  background-color: #8ED0FF;
  background-image: url('../img/gradecraft-site.png');

}

.projects-gameful-pedagogy-site {
  background-color: #FEF283;
  background-image: url('../img/pedagogy-site.png');
}

.projects-grade-predictor-refinements {
  background-color: #DDCDF5;
  background-image: url('../img/grade-predictor.png');
}

.projects-student-assignment-index {
  background-color: #FFCF8B;
  background-image: url('../img/student-assignment-index.png');
}

.projects-dashboards {
  background-color: #F98795;
  background-image: url('../img/dashboard.png');
}

.projects-gradecraft-poster {
  background-color: #B8E986;
  background-image: url('../img/gradecraft-poster.png');
}

.projects-student-onboarding {
  background-color: #8DD6CC;
  background-image: url('../img/student-onboarding.png');
}

.projects-policymaker {
  background-color: #8E8EC7;
  background-image: url('../img/policymaker.png');
}

.projects-hooper-wedding {
  background-color: #B1EDF6;
  background-image: url('../img/hooper-wedding.png');
}

.about-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
