/* ==========================================================================
   HOME PAGE SECTIONS
   ========================================================================== */

.section-header {
  margin-bottom: 40px;
  color: darken(#aaa, 35%);
  text-align: center;

  @include breakpoint($mq-medium) {
    margin-bottom: 25px;
  }
}
.section {
  padding: 80px 8px 8px 8px;
  @include breakpoint($mq-small) {
    padding: 60px 16px 16px 16px;
  }

 h2  {
    margin-bottom: 15px;
    font-size: 2em;
    position: relative;
    @include breakpoint($mq-small) {
      font-size: 1.75em;
    }
 }
 h3  {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.25em;
  }
}
.project-description {
  padding: 0;
}

.project-block h2 {
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

/* ==========================================================================
  ABOUT
  ========================================================================== */

.about {
 margin-bottom: 20px;
 margin: 0 auto;
  p {
    font-size: 1em;
    margin-bottom: 0.5em;
    line-height: 1.5em;
  }
}


/* ==========================================================================
  PROJECT SECTION
  ========================================================================== */
.project-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.project-block {
  opacity: 0.8;
  margin: 0.5em;
  max-width: 360px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @include breakpoint($mq-small) {
    margin: 0.5em 0;
    max-width: inherit;
  }
  &:hover{
    opacity: 1;
  }

  a {
    display: block;
    padding-bottom: 100%;
    position: relative;
    &:hover > .on-hover {
      visibility: visible;
    }
  }
}

.on-hover {
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  font-size: 1.2em;
  line-height: 1.2em;
  right: 0px;
  padding: 1em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  color: #3e3e3e;
  width: 100%;
}

.center-align {
  text-align: center;
}

.projects-gradecraft-site-redesign {
  background-color: #8ED0FF;
  background-image: url('../img/gradecraft-site.png');

}

.projects-gameful-pedagogy-site {
  background-color: #FEF283;
  background-image: url('../img/pedagogy-site.png');
}

.projects-grade-predictor-refinements {
  background-color: #DDCDF5;
  background-image: url('../img/grade-predictor.png');
}

.projects-student-assignment-index {
  background-color: #FFCF8B;
  background-image: url('../img/student-assignment-index.png');
}

.projects-dashboards {
  background-color: #F98795;
  background-image: url('../img/dashboard.png');
}

.projects-gradecraft-poster {
  background-color: #B8E986;
  background-image: url('../img/gradecraft-poster.png');
}

.about-wrapper {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  @include breakpoint($mq-small) {
    display: block;
  }
}

.about-column {
  margin: 1em;
  flex: 1;
  @include breakpoint($mq-small) {
    margin: 0;
  }
}
