/* ==========================================================================
   PROJECT PAGES
   ========================================================================== */

.projects-page {
  h1 {
    text-align: center;
    font-size: 2.5em;

    @include breakpoint($mq-medium) {
      font-size: 2em;
    }
  }
}

.project-section-header {
  padding: 2rem;
  margin-bottom: 1.5em;
  text-align: center;
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  @include breakpoint($mq-medium) {
    margin-bottom: 0.5em;
    padding: 2rem 1rem;
  }
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  @include breakpoint($mq-small) {
    display: block;
  }
  &.project-data {
    align-items: flex-start;
  }
}

.section-header-col {
  flex: 1;
  padding: 1rem;
  @include breakpoint($mq-small) {
    padding: 0;
  }
  &:only-child {
    padding: 3rem;
    max-width: 650px;
    margin: 0 auto;
    @include breakpoint($mq-small) {
      padding: 0;
    }
  }
  &.col-2 {
    max-width: 600px;
  }
}

.section-header-img {
  width: 100%;
}

.project-summary {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  max-width: 1200px;
  @include breakpoint($mq-small) {
    padding: 0;
  }
  .project-summary-item {
    flex: 1;
    min-width: 250px;
    padding: 1rem;
    line-height: 1.6rem;
    h2 {
      border-bottom: 1px solid;
      padding-bottom: 0.5rem;
      font-size: 1.4rem;
    }
  }
}

.project-overview {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-top: 0.5rem;
}

.project-data-section {
  background: rgba(182,250,255, 0.2);
  @include breakpoint($mq-small) {
    padding: 0;
  }
}

.case-study {
  flex: 1;
  padding: 1rem;
  h2 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1em;
    line-height: 1.6em;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  a {
    text-decoration: none;
    color: $accent-blue;
    border-bottom: 1px dotted;
    &:hover,
    &:focus {
      border-bottom: 1px solid;
    }
  }
}

.project-tech {
  text-align: center;
  margin-top: 0.5em;
  li {
    display: inline-block;
    background-color: transparentize($lightblue, 0.5);
    margin: 0.25em;
    padding: 0.5em 0.75em;
    border-radius: 3px;
    font-size: 0.8em;
    color: $text-gray;
    &:not(:last-child) {
      margin-right: 0.5em;
    }
    @include breakpoint($mq-small) {
      padding: 0.5em;
      font-size: 0.75em;
    }
  }
}

.overview {
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 40px;
}

.project-example {
  margin: 2rem 0;
  @include breakpoint($mq-medium) {
    margin: 1rem 0;
  }
}

.project-img-wrapper {
  max-width: 600px;
  margin: 0 auto;
  img {
    width: 100%;
  }
}

.project-sketch-images {
  img {
    width: 100%;
    margin: 1rem 0;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(204, 204, 204, 0.16), 0 3px 6px rgba(204, 204, 204, 0.23);
    // @include breakpoint($mq-small) {
    //   display: block;
    //   width: 100%
    // }
  }
}

.project-photo {
  max-width: 960px;
  margin: 0 auto;
  img {
    width: 100%
  }
}

.scroll {
  max-height: 625px;
  overflow: scroll;
  img {
    max-width: 100%;
  }
}


.mobile-project-example {
  display: inline-block;
  &:not(:last-child) {margin-right: 80px};

  @media (max-width: $large-max) {
    width: 30%;
    &:not(:last-child) {
      margin-right: 8px
    };
  }
}

.live-site {
  padding: 0.75rem 2rem;
  font-size: 1.5em;
  margin-top: 40px;
}
