/* ==========================================================================
   PROJECT PAGES
   ========================================================================== */

.project-page {
  h1 {
    text-align: center;
    font-size: 3em;

    @include breakpoint($mq-medium) {
      font-size: 2.25em;
    }
  }
}

.case-study {
  max-width: 720px;
  margin: 0 auto;

  p {
    font-size: 1em;
    margin-bottom: 2rem;
    line-height: 1.6em;
  }

  a {
    color: $orange;
  }
}

.project-roles {
  text-align: center;
  margin-top: 0.5em;
  li {
    display: inline-block;
    margin-right: 0.5em;
    background-color: $lightblue;
    padding: 0.5em 0.75em;
    border-radius: 3px;
    font-size: 0.8em;
    color: $text-gray;
    @include breakpoint($mq-small) {
      margin-right: 0.25em;
      padding: 0.5em;
      font-size: 0.75em;
    }
  }
}

.overview {
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 40px;
}

.project-example {
  margin-bottom: 40px;

  @include breakpoint($mq-medium) {
    margin-top: 20px;
  }
}

.project-sketch-images {
  margin: 0 auto 2rem auto;
  display: block;
  img {
    display: inline;
    width: 48%;
    margin: 0.25em;
    @include breakpoint($mq-small) {
      display: block;
      width: 100%
    }
  }
}

.project-photo {
  max-width: 960px;
  margin: 0 auto;
  img {
    width: 100%
  }
}

.scroll {
  max-height: 625px;
  overflow: scroll;
  img {
    max-width: 100%;
  }
}


.mobile-project-example {
  display: inline-block;
  &:not(:last-child) {margin-right: 80px};

  @media (max-width: $large-max) {
    width: 30%;
    &:not(:last-child) {
      margin-right: 8px
    };
  }
}

.live-site {
  padding: 0.75rem 2rem;
  font-size: 1.5em;
  margin-top: 40px;
}
