/* ==========================================================================
   PROJECT PAGES
   ========================================================================== */

.projects-page {
  h1 {
    text-align: center;
    font-size: 2.5em;

    @include breakpoint($mq-medium) {
      font-size: 2em;
    }
  }
}

.project-section-header {
  margin-bottom: 1.5em;
  text-align: center;
  // background-color: #f5faff;
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  @include breakpoint($mq-medium) {
    margin-bottom: 25px;
  }
  .flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    @include breakpoint($mq-small) {
      display: block;
    }
  }
}

.section-header-col {
  flex: 1;
  padding: 1.5rem 2rem;
  &:only-child {
    padding: 3rem;
    max-width: 650px;
    margin: 0 auto;
  }
  &.col-2 {
    max-width: 600px;
  }
}

.section-header-img {
  width: 100%;
}

.project-summary {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 1rem 0;
  .project-summary-item {
    flex: 1;
    min-width: 250px;
    margin: 0 1rem;
    padding: 1rem;
    line-height: 1.6rem;
    h2 {
      border-bottom: 1px solid;
      padding-bottom: 0.5rem;
      font-size: 1.4rem;
    }
  }
}

.project-overview {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-top: 0.5rem;
}

.case-study {
  max-width: 720px;
  margin: 0 auto;

  p {
    font-size: 1.1em;
    margin-bottom: 2rem;
    line-height: 1.6em;
  }

  a {
    color: $orange;
  }
}

.project-tech {
  text-align: center;
  margin-top: 0.5em;
  li {
    display: inline-block;
    margin-right: 0.5em;
    background-color: transparentize($lightblue, 0.5);
    padding: 0.5em 0.75em;
    border-radius: 3px;
    font-size: 0.8em;
    color: $text-gray;
    @include breakpoint($mq-small) {
      margin-right: 0.25em;
      padding: 0.5em;
      font-size: 0.75em;
    }
  }
}

.overview {
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 40px;
}

.project-example {
  margin-bottom: 40px;

  @include breakpoint($mq-medium) {
    margin-top: 20px;
  }
}

.project-sketch-images {
  margin: 0 auto 2rem auto;
  display: block;
  img {
    display: inline;
    width: 48%;
    margin: 0.25em;
    @include breakpoint($mq-small) {
      display: block;
      width: 100%
    }
  }
}

.project-photo {
  max-width: 960px;
  margin: 0 auto;
  img {
    width: 100%
  }
}

.scroll {
  max-height: 625px;
  overflow: scroll;
  img {
    max-width: 100%;
  }
}


.mobile-project-example {
  display: inline-block;
  &:not(:last-child) {margin-right: 80px};

  @media (max-width: $large-max) {
    width: 30%;
    &:not(:last-child) {
      margin-right: 8px
    };
  }
}

.live-site {
  padding: 0.75rem 2rem;
  font-size: 1.5em;
  margin-top: 40px;
}
