/* ==========================================================================
   PROJECT PAGES
   ========================================================================== */

.project-page {
  padding-top: 150px;

  @include breakpoint($mq-medium) {
    padding-top: 100px;
  }

  h1 {
    text-align: center;
    font-size: 3em;

    @include breakpoint($mq-medium) {
      font-size: 3em;
    }
  }
}

.case-study {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 10px;

  @include breakpoint($mq-medium) {
    margin: 0px;
    border-top: none;
  }

  &:nth-child(1) {
    @include breakpoint($mq-medium) {
      border-top: 1px solid #eee;
    }
  }


  p {
    font-size: 1.1em;
    margin-bottom: 2rem;

    @include breakpoint($mq-medium) {
      font-size: 1.25em;
    }
  }

  a {
    color: $orange;
  }
}

.overview {
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 40px;
}

.project-example {
  margin-bottom: 40px;

  @include breakpoint($mq-medium) {
    margin-top: 20px;
  }
}

.project-sketch {
  margin: 0 auto 2rem auto;
  display: block;
}

.scroll {
  max-height: 625px;
  overflow: scroll;
  img {
    max-width: 100%;
  }
}

.PIF-project,
.opportunities-project,
.sales-project,
.hr-project,
.ross-project {
  display: none;
}

.mobile-project-example {
  display: inline-block;
  &:not(:last-child) {margin-right: 80px};

  @media (max-width: $large-max) {
    display: block;
    &:not(:last-child) {
      margin-right: 0px
    };
  }
}

.live-site {
  padding: 0.75rem 2rem;
  font-size: 1.5em;
  margin-top: 40px;
}
