/* ==========================================================================
   PROJECT PAGES
   ========================================================================== */

.project-page {
  padding-top: 150px;

  @include breakpoint($mq-medium) {
    padding-top: 100px;
  }

  h1 {
    text-align: center;
    font-size: 3.5em;

    @include breakpoint($mq-medium) {
      font-size: 3em;
    }
  }
}

.project-nav {
  margin-bottom: 40px;
  span {
    color: #aaa;
    cursor: pointer;
    padding: 2px 10px;
    position: relative;

    @include breakpoint($mq-medium) {
      padding: 1px 2px;
    }

    &:hover {
      background-color: #eee;

      .touch & {
        background-color: $white;
      }
    }
    &.active-project {
      background-color: $orange;
      color: $white;
      &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid $orange;
        position: absolute;
        left: 40%;

        @include breakpoint($mq-medium) {
          content: "";
          display: none;
        }
      }
    }
  }
  li {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 400;

    @include breakpoint($mq-large) {
      font-size: 1.25em;
      margin-bottom: 10px;
    }

    @include breakpoint($mq-medium) {
      display: block;
    }

    &:not(:first-child) {
      padding-left: 20px;

      @include breakpoint($mq-large) {
        padding-left: 0px;
      }
    }
  }
}

.case-study {
  padding-top: 10px;
  border: 1px solid #eee;
  border-left: none;
  margin-top: 40px;
  margin-bottom: 40px;

  @include breakpoint($mq-medium) {
    margin: 0px;
    border-top: none;
  }

  &:nth-child(1) {
    @include breakpoint($mq-medium) {
      border-top: 1px solid #eee;
    }
  }

  &:nth-child(3) {
    border-right: none;
  }

  p {
    font-size: 1.1em;

    @include breakpoint($mq-medium) {
      font-size: 1.25em;
    }
  }

  a {
    color: $orange;
  }
}

.overview {
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 40px;
}

.project-example {
  margin-bottom: 40px;

  @include breakpoint($mq-medium) {
    margin-top: 20px;
  }
}

.scroll {
  max-height: 625px;
  overflow: scroll;
  img {
    max-width: 100%;
  }
}

.PIF-project,
.opportunities-project,
.sales-project,
.hr-project,
.ross-project {
  display: none;
}

.mobile-project-example {
  display: inline-block;
  &:not(:last-child) {margin-right: 80px};

  @media (max-width: $large-max) {
    display: block;
    &:not(:last-child) {
      margin-right: 0px
    };
  }
}

.live-site {
  padding: 20px 50px;
  font-size: 1.75em;
}
