.button {
  margin-top: 0;
  padding: 0.5rem 1rem;
  border: 1px solid #01579B;
  border-radius: 3px;
  color: #01579B;
  font-size: 1em;
  text-align: center;
  display: inline-block;
  transition: all 0.5s ease;
  &:hover {
    background-color: $blue;
    color: $white;
   .touch & {
     background-color: $white;
     color: $blue;
   }
  }
  &:not(:last-child) {
    margin-right: 0.5rem;
  }
  a {
   color: $blue;
   &:hover {
     color: $white;

     .touch & {
     color: $blue;
     }
    }
  }
}

.button-block {
  margin: 1rem 0;
}
