---
layout: default
---

{% include header.html %}

{% for section in site.home %}
  {% if section.title == "projects" %}
  <section class="projects section grid-container" id="projects">
    <div class="section-header grid-100"><h1>Projects</h1></div>
    <div class="project-grid">
      {% for project in site.projects %}
      <div class="projects-{{ project.title }} project-block">
        <h2>{{ project.name }}</h2>
        <div class="project-description on-hover">
          <h3>{{ project.role }}</h3>
          <p>{{ project.overview }}</p>
          <div class="center-align">
            <a href="{{ project.url }}" class="button">View Project</a>
          </div>
        </div>
       </div>
      {% endfor %}
    </div>
    </section>
  {% else %}
    {{ section.content }}
  {% endif %}
{%  endfor %}
