---
layout: default
---

{% include header.html %}

{% for section in site.home %}
  {% if section.title == "projects" %}
  <section class="projects section grid-container" id="projects">
    <div class="section-header grid-100"><h1>Projects</h1></div>
    <ul class="project-grid">
      {% for project in site.projects %}

        <li class="projects-{{ project.title }} project-block">
          <a href="{{ project.url }}">
            <h2>{{ project.name }}</h2>
            <p class="project-description on-hover">
              {{ project.overview }}
            </p>
          </a>
        </li>
      {% endfor %}
    </section>
  {% else %}
    {{ section.content }}
  {% endif %}
{%  endfor %}
