---
layout: default
---
{% assign page_data = site.data[page.slug] %}

<section>
  <div class="section-header"><h1>{{page_data.name}}</h1>
    <ul class="project-roles">
      {% for item in page_data.role %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </div>


  <div class="project-data">
    <div class="case-study challenge">
      <h2>Challenge</h2>
      <p>{{page_data.challenge}}</p>

      <h2>Process</h2>
      <p>{{page_data.process}}</p>

      <div class="project-sketch-images">
        <img src="/img/{{page_data.project_image_1}}">
        <img src="/img/{{page_data.project_image_2}}">
      </div>

      <h2>Solution</h2>
      <p>{{page_data.solution}}</p>
    </div>
    <div class="project-example center-align">
      <div class="browser browser-window">
        <span class="browser-buttons"></span><span class="browser-buttons"></span ><span class="browser-buttons"></span>
          <div class="browser-top"><p>{{page_data.browser_url}}</p></div>
          <div class="window-screen"><img src="/img/{{page_data.browser_image}}"></div>
          </div>
        </div>
      </div>

    <div class="center-align mobile-project-example-wrap">
      <div class="mobile-project-example">
        <div class="mobile-project iphone-5s">
        <div class="top-phone"></div>
        <div class="screen"><img src="/img/{{page_data.mobile_image_1}}"></div>
        <div class="bottom-phone"></div>
      </div>
     </div>
       <div class="mobile-project-example">
        <div class="mobile-project iphone-5s">
          <div class="top-phone"></div>
          <div class="screen"><img src="/img/{{page_data.mobile_image_2}}"></div>
          <div class="bottom-phone"></div>
        </div>
      </div>
      <div class="mobile-project-example">
        <div class="mobile-project iphone-5s">
          <div class="top-phone"></div>
          <div class="screen"><img src="/img/{{page_data.mobile_image_3}}"></div>
          <div class="bottom-phone"></div>
        </div>
      </div>
  </div>

    {% if page_data.live_site %}
      <div class="wrap-button center-align">
        <a class="button live-site" href="{{page_data.live_site}}" target="_blank">View Live Site</a>
      </div>
    {% endif %}
</section>
