/* ==========================================================================
   FOOTER
   ========================================================================== */


#contact {
  line-height: 1.5em;
  p {
    text-align: center;
  }
}

.social {
  text-align: center;
  font-size: 1em;
  padding-bottom: 20px;
  ul {
    float: right;
  }
  li {
    display: inline-block;
    font-size: 1.25em;
    font-weight: 400;
    &:not(:first-child) {padding-left: 40px};
  }
  a {
    color: $text-gray;
    transition: all 0.5s ease;
    &:hover {
      color: lighten(#ffa726, 5%);

      .touch & {
        color: $text-gray;
      }
    }
  }
}
