/* ==========================================================================
   FOOTER
   ========================================================================== */


#contact {
  line-height: 1.5em;
  margin-top: 50px;
  p {
    text-align: center;
    padding-bottom: 1em;
  }
}

.social {
  text-align: center;
  font-size: 1em;
  padding-bottom: 20px;
  ul {
    float: right;
  }
  li {
    display: inline-block;
    &:not(:first-child) {
      margin-left: 40px;
    }
  }
  svg {
    fill: $text-gray;
    width: 20px;
    height: 20px;
    transition: all 0.5s ease;
    &:hover {
      fill: lighten(#ffa726, 5%);

      .touch & {
        fill: $text-gray;
      }
    }
  }
}
