/* ==========================================================================
   HEADER
   ========================================================================== */

#header {
  color: $accent-blue;
  position: fixed;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #eee;
  .grid-container {
    box-shadow: none;
    background-color: #fff;
    padding: .75em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

#hero {
  .grid-container {
    padding-top: 80px;
    color: lighten(#333, 5%);

    @include breakpoint($mq-medium) {
      padding-top: 50px;
      height: auto;
      text-align: center;
    }
  }
}

.hero-img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.navigation li {
  display: inline-block;
  margin-right: 1em;
  &:last-child {
    margin-right: 0;
  }
  a.active {
    text-decoration: underline;
  }
}

.header-description {
  font-size: 2.5em;
  line-height: 1.2em;
  width: 60%;
  margin: 0 auto;
  text-align: center;

  h1 {
    @include breakpoint($mq-medium) {
      font-size: 1.75em;
    }
  }

  p {
    @include breakpoint($mq-large) {
      font-size: 0.9em;
      line-height: 1em;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    @include breakpoint($mq-medium) {
      font-size: 0.5em;
      line-height: 1em;
      padding-top: 5px;
      padding-bottom: 10px;
    }
  }
}

.navigation {
  @include breakpoint($mq-medium) {
    font-size: 1.1em;
  }

  ul {
    @include breakpoint($mq-medium) {
      text-align: center;
    }
  }
}

.logo {
  font-size: 1.25em;

  @include breakpoint($mq-medium) {
    font-size: 1.2em;
    text-align: center;
  }
}
