* {
  box-sizing: border-box;
}

html, body, #wrapper {
  height: 100%;
}

header {
  a {
    color: $accent-blue;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  color: $text-gray;

  @include breakpoint($mq-medium) {
    font-size: 90%;
  }
}

a {
  text-decoration: none;
  color: $orange;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  color: $accent-blue;
}

h1 {
  font-size: 2em;
  color: $header-gray;
}

main {
  padding: 2.75em 1em;
}

.social {
  ul {
    float: right;
  }
  li {
    display: inline-block;
    font-size: 1.25em;
    font-weight: 400;
    &:not(:first-child) {padding-left: 20px};

  }
}

// .grid-container {
//   box-shadow: 10px 0 rgba(0, 0, 0, 0.075), -10px 0 rgba(0, 0, 0, 0.075);
// 
//   @include breakpoint($mq-medium) {
//     padding-left: 0;
//     padding-right: 0;
//   }
// }

.grid-100 {
  width: 100%;
}

.grid-80 {
  width: 80%;
}

.grid-50 {
  width: 50%;
  @include breakpoint($mq-small) {
    width: 100%;
  }
}

.grid-25 {
  width: 25%;
}

.grid-20 {
  width: 20%;
}
