* {
  box-sizing: border-box;
}

html, body, #wrapper {
  height: 100%;
}

header {
  a {
    color: $accent-blue;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  color: $text-gray;

  @include breakpoint($mq-medium) {
    font-size: 90%;
  }
}

a {
  text-decoration: none;
  color: $orange;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  color: $accent-blue;
}

h1 {
  font-size: 2em;
  color: $header-gray;
}

main {
  padding: 2.75em 1em;
}

.social {
  ul {
    float: right;
  }
  li {
    display: inline-block;
    font-size: 1.25em;
    font-weight: 400;
    &:not(:first-child) {padding-left: 20px};

  }
}
